{% extends "base.html" %}

{% block content %}
    <h1 class="text-center fs-1 m-3 p-3">Are you sure want to delete photo "{{ picture.signature }}"?</h1>
    <form method="POST" action="{% url "webapp:picture_delete" picture.pk %}" class="text-center">
        {% csrf_token %}
        <p><button type="submit" class="btn btn-primary btn-lg col-5">Yes</button></p>
        <p><a class="btn btn-secondary btn-lg col-5" href="{% url "webapp:picture_view" picture.pk%}" role="button">No</a></p>
    </form>
{% endblock %}